{% extends 'admin_static.html' %} {% block dash %}

<div class="main-panel" id="main_panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class="container-fluid">
                <div>
                        <i class="fas fa-bars" id="i_toggle" onclick="toggle();"></i>
                </div>
            <a class="navbar-brand" href="#pablo"> User </a>
            <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <i class="nc-icon nc-palette"></i>
                            <span class="d-lg-none">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <span class="no-icon">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{url_for('static', filename='image/IMG-20190525-WA0008.jpg')}}" alt="" style="height:400px;border-radius: 3%;">
                </div>
                <div class="col-md-8">
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello Everybody, i am</h6>
                            <h3>Suraj Raj</h3>
                            <h4>Junior UI/UX Developer</h4>
                            <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference
                                to the ghost showing Scrooge some different futures)</p>
                            <ul class="list basic_info" style="text-decoration:none;list-style-type: none;">
                                <li><i class="lnr lnr-calendar-full"></i> 15st March, 1999</li>
                                <li><i class="lnr lnr-phone-handset"></i> +91 7764946860</li>
                                <li><i class="lnr lnr-envelope"></i> suraj150399@gmail.com</li>
                                <li><i class="lnr lnr-home"></i> Patna, Bihar</a></li>
                            </ul>
                            <ul class="list personal_social m-2">

                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>

        sidebar_toggle = document.getElementById("nav_toggle");
        main_panel = document.getElementById("main_panel");
        function toggle() {
            sidebar_toggle.classList.toggle('active');
            main_panel.classList.toggle('active');
    }
    </script>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="../assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script> {% endblock dash %}